---
layout: default
---

<div class="container section-border mb-5">
  <div class="row persist-area">
      <div class="col-1 d-none d-md-block"></div>
      <div class="col-md-2 col-12">
          <div class="followMeBar persist-header">
              <h3>About</h3>
          </div>
      </div>
      <div class="col-md-9 col-12">
          <div class="row">
              <div class="col-md-3 col-12">
                  <div class="row mb-3">
                      <div class="col-md-12 col-6 mb-2">
                          <img src="img/gabe.jpeg" class="img--bw"/>
                      </div>
                      <div class="col-md-12 col-6">
                          <img src="img/gabe2.jpg" class="img--bw"/>
                      </div>
                  </div>
              </div>
              <div class="col-md-9 col-12">
                  <p>A sheet of blue haze masks narrow city streets, pierced only by incandescent holographic projections. The cacophony of synthetic colorful sounds fades as I emerge from a mirrored reality. A digital world where I lose myself.</p>

                  <p>It’s quiet again. The world sleeps silently as the machines sing their songs and I listen, walking among them in awe of their sense of purpose.</p>
                  
                  <p>Do they dream of electric sheep?</p>
                  
                  <p>We may never know, but I’ll always be asking the serious questions around here while we lie in wait for the singularity hoping one day to ask them myself.</p>
                  
                  <p>Philosophical themes and machine dreams. Music, Art, and Film.</p>
                  
                  <p>Welcome to my world….</p>
                  <p><button type="button" class="btn btn-primary">Resume</button></p>
              </div>
          </div>
      </div>

  </div>
</div>
<div class="container section-border mb-5">
  <div class="row persist-area">
      <div class="col-1 d-none d-md-block"></div>
      <div class="col-md-2 col-12">
          <div class="followMeBar persist-header">
              <h3>Music</h3>
          </div>
      </div>
      <div class="col-md-9 col-12">
        {% assign musicid = 0 %}
        {% for music in site.music %}
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12 mb-3">
                    <img src="{{music.cover-img}}" class="img--bw" />
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <h4>{{music.title}}</h4>
                    <h5>{{music.type}}</h5>
                    <p>{{music.description}}</p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="{{ "#collapseAlbum" | append: musicid}}" aria-expanded="false" aria-controls="collapseExample">
                        {{music.button-text}}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-4 mb-5">
                    <div class="collapse" id="{{ "collapseAlbum" | append: musicid}}">
                        {{ music.content }}
                    </div>
                </div>
            </div>
            {% assign musicid = musicid | plus: 1 %}
        {% endfor %}
      </div>
  </div>
</div>
<div class="container section-border mb-5">
  <div class="row persist-area">
      <div class="col-1 d-none d-md-block"></div>
      <div class="col-md-2 col-12">
          <div class="followMeBar persist-header">
              <h3>Content</h3>
          </div>
      </div>
      <div class="col-md-9 col-12">
          <div class="row">
              <div class="col-md-3 col-sm-6 col-12">
                  <img src="img/content3.jpg" class="img--bw" />
              </div>
              <div class="col-md-9 col-sm-6 col-12">
                  <h4>Video Projection</h4>
                  <h5>Live Installation</h5>
                  <p>University of Connecticut, Spring 2018</p>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseContent1" aria-expanded="false" aria-controls="collapseExample">
                      Watch
                  </button>
              </div>
          </div>
          <div class="row">
              <div class="col-12 mt-4 mb-5">
                  <div class="collapse" id="collapseContent2">
                      <iframe src="https://drive.google.com/file/d/1_cCLOt9jlak9jfRYKM1ak1APIWGsSy4d/preview" width="640" height="480"></iframe>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6 col-12">
                  <img src="img/content3.jpg" class="img--bw" />
              </div>
              <div class="col-md-9 col-sm-6 col-12">
                  <h4>Animation Reel</h4>
                  <h5>Animation</h5>
                  <p>University of Connecticut, Spring 2018</p>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseContent1" aria-expanded="false" aria-controls="collapseExample">
                      Watch
                  </button>
              </div>
          </div>
          <div class="row">
              <div class="col-12 mt-4 mb-5">
                  <div class="collapse" id="collapseContent2">
                      <iframe src="https://drive.google.com/file/d/1_cCLOt9jlak9jfRYKM1ak1APIWGsSy4d/preview" width="640" height="480"></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container section-border mb-5">
  <div class="row persist-area">
      <div class="col-1 d-none d-md-block"></div>
      <div class="col-md-2 col-12">
          <div class="followMeBar persist-header">
              <h3>Blog</h3>
          </div>
      </div>
      <div class="col-md-9 col-12">
      {% for post in site.posts | limit: 5 %}
        <div class="row blog-post mb-5">
            <div class="col-md-3 col-sm-6 col-12">
                <h5>{{ post.date | date: "%b %d, %Y" }}</h5>
            </div>
            <div class="col-md-9 col-sm-6 col-12">
                <h4>{{post.title}}</h4>
                <p>{{post.excerpt}}</p>
                <p><a href="{{post.url}}" type="button" class="btn btn-primary">Read More</a></p>
            </div>
        </div>
      {% endfor %}
        <div class="row blog-post mb-5">
            <div class="col-md-3 col-sm-6 col-12">
                <h5>Want more?</h5>
            </div>
            <div class="col-md-9 col-sm-6 col-12">
                <h4>Visit the blog archive.</h4>
                <p>&nbsp;</p>
                <p><a href="/blog" type="button" class="btn btn-primary">Read More</a></p>
            </div>
        </div>
      </div>
  </div>
</div>
<div class="container section-border mb-5">
  <div class="row persist-area">
      <div class="col-1 d-none d-md-block"></div>
      <div class="col-md-2 col-12">
          <div class="followMeBar persist-header">
              <h3>Contact</h3>
          </div>
      </div>
      <div class="col-md-9 col-12">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <p>Please feel free to contact me.</p>
            </div>
            <div class="col-md-9 col-sm-6 col-12">
                <form method="post"
                    action="https://api.formbucket.com/f/homepage"
                    onsubmit="return validateForm()">
                    <p>
                        <label>Your Name</label><br>
                        <input type="text" name="name" />
                    </p>
                    <p>
                        <label>Your Email</label><br>
                        <input type="text" name="email" />
                    </p>
                    <p>
                        <label>Message</label><br>
                        <textarea name="message"></textarea>
                    </p>
                    <p>
                        <button class="secondary" type="submit">Submit</button>
                    </p>
                </form>
            </div>
          </div>
      </div>
  </div>
</div>
